@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {

    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: #a79f9f;
    color: #000000;
    font-size: 24px;

}

h1 {

    margin: 0;
    padding: 20px;

}

header {

    background-color: #fd9292;
}

nav {

    background-color: #d8d8d8;
    padding: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    padding: 20px;
}

a:hover{

    color: #f0f0f0;
    padding: 12px 24px 12px 24px;
    border-radius: 12px;
}

a:visited {

    color: #000000
}
